code/FinalConvModel/Data/*
!code/FinalConvModel/Data/.gitkeep

code/FinalConvModel/ModelSaves/*
!code/FinalConvModel/ModelSaves/.gitkeep

code/FinalConvModel/Tests/*
!code/FinalConvModel/Tests/.gitkeep

code/FinalConvModel/Images/*
!code/FinalConvModel/Images/.gitkeep

code/DarcyAccuracyTest/
code/FinalLinearModel/
code/MakeFigures/
code/MultilevelBigConvModel/
code/MultilevelConvModel/
code/MultilevelPODModel/
code/MultilevelPODModelPostSmoothing/
code/MultilevelPODModelResidualInput/
code/PODModel/
code/SingleLevelPODModel/
code/StefanTests/
code/test/
code/UNetModel/

data/
jitfailure-dolfin_expression_6b57c63388ee2717409f9250076e8a7a/
references/

**/*.npy
**/*.npz
**/*.pt
**/*.pth
**/*.ckpt
**/*.pkl
**/__pycache__/
**/.venv/
**/*.out

test.py
interpolation_matrix_test.py